@model hms.DataModel.US_PARENT_MENU

@{
    ViewData["Title"] = "Parent Menu";
}

<div class="col-md-12">
    <form asp-action="ManageParentMenu" asp-controller="Manage" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="PARENT_NAME" class="control-label"></label>
                    <input asp-for="PARENT_NAME" class="form-control form-control-sm" />
                    <span asp-validation-for="PARENT_NAME" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="PARENT_BN_NAME" class="control-label"></label>
                    <input asp-for="PARENT_BN_NAME" class="form-control form-control-sm" />
                    <span asp-validation-for="PARENT_BN_NAME" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="PARENT_ICON" class="control-label"></label>
                    <input asp-for="PARENT_ICON" class="form-control form-control-sm" />
                    <span asp-validation-for="PARENT_ICON" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="IS_ACTIVE" class="control-label"></label>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="IS_ACTIVE" checked />
                        <label class="form-check-label"> @Html.DisplayNameFor(model => model.IS_ACTIVE)</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
