@model hms.DataModel.US_USER_ROLE

@{
    ViewData["Title"] = "User Role";
}

<div class="card card-secondary card-outline">

    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            @ViewData["Title"]
        </h3>
    </div>


    <form asp-action="ManageUserRole" asp-controller="UserRole" method="post">
        <div class="card-body">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="US_USER_ID" class="control-label"></label>
                            <select asp-for="US_USER_ID" class="form-control form-control-sm" asp-items="ViewBag.US_USER_ID"><option selected>-Select-</option></select>
                            <span asp-validation-for="US_USER_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="US_ROLE_ID" class="control-label"></label>
                            <select asp-for="US_ROLE_ID" class="form-control form-control-sm" asp-items="ViewBag.US_ROLE_ID"><option selected>-Select-</option></select>
                            <span asp-validation-for="US_ROLE_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IS_ACTIVE" class="control-label"></label>
                            <div class="form-check">
                                <input class="form-check-input" asp-for="IS_ACTIVE" />
                                <label class="form-check-label"> @Html.DisplayNameFor(model => model.IS_ACTIVE)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">Submit</button>
            <input type="button" onclick="location.reload();" class="btn btn-secondary float-left" value="Cancel" />
        </div>

    </form>
</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"] List</h3>
    </div>
    <div class="card-body table-responsive">
        <table id="myTable1" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Id</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Option</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Areas/Setup/userrole.js"></script>
}
