@model hms.DataModel.US_USER_ROLE

@{
    ViewData["Title"] = "User Role";
}

<div class="col-md-12">
    <form asp-action="ManageRoleMenu" asp-controller="Manage" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="US_USER_ID" class="control-label"></label>
                    <select asp-for="US_USER_ID" class="form-control form-control-sm" asp-items="ViewBag.US_USER_ID"></select>
                    <span asp-validation-for="US_USER_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="US_ROLE_ID" class="control-label"></label>
                    <select asp-for="US_ROLE_ID" class="form-control form-control-sm" asp-items="ViewBag.US_ROLE_ID"></select>
                    <span asp-validation-for="US_ROLE_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="IS_ACTIVE" class="control-label"></label>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="IS_ACTIVE" checked />
                        <label class="form-check-label"> @Html.DisplayNameFor(model => model.IS_ACTIVE)</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
