@model hms.DataModel.ViewModels.US_USER_ROLE_VM

@{
    ViewData["Title"] = "User Role";
}

<div class="card card-secondary card-outline">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            @ViewData["Title"]
        </h3>
    </div>


    <form asp-action="ManageUserRole" asp-controller="UserRole" method="get">
        <div class="card-body">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <input asp-for="UserId" class="form-control form-control-sm" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control form-control-sm" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">View</button>
            <input type="button" onclick="location.reload();" class="btn btn-secondary float-left" value="Cancel" />
        </div>

    </form>
</div>



<table class="table" id="mytable">
    <thead>
        <tr>
            <th>Role</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.user_role_list != null)
        {
            var _role = Model.user_role_list.ToList();
            @foreach (var role in _role)
            {
                <tr>
                    <td>@role.RoleName</td>
                    <td><input class="form-check-input" asp-for="@role.Active" value="@role.RoleId" /></td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <button id="btnSaveState" type="button" class="btn btn-primary float-right" onclick="btnSaveStateClick();">Submit</button>
            </td>
        </tr>
    </tfoot>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Areas/Setup/userrole.js"></script>
}
