@model hms.DataModel.US_ROLE

@{
    ViewData["Title"] = "Role";
}
<div class="card card-secondary card-outline">

    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            @ViewData["Title"]
        </h3>
    </div>

    <form asp-action="ManageRole" asp-controller="Role" method="post">
        <div class="card-body">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <input hidden asp-for="ID" />
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="ROLE_NAME" class="control-label"></label>
                            <input asp-for="ROLE_NAME" class="form-control form-control-sm" />
                            <span asp-validation-for="ROLE_NAME" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="IS_ACTIVE" class="control-label"></label>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" asp-for="IS_ACTIVE" />
                                <label asp-for="IS_ACTIVE" class="custom-control-label">Active</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">Submit</button>
            <input type="button" onclick="location.reload();" class="btn btn-secondary float-left"  value="Cancel"/>
        </div>
    </form>

</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"] List</h3>
    </div>
    <div class="card-body table-responsive">
        <table id="myTable1" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Option</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Areas/Setup/role.js"></script>
}
