@model hms.DataModel.US_USER

@{
    ViewData["Title"] = "User";
}

<div class="card card-secondary card-outline">

    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            @ViewData["Title"]
        </h3>
    </div>


    <form asp-action="ManageUser" asp-controller="User" method="post" enctype="multipart/form-data" >
        <div class="card-body">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <input hidden asp-for="ID" />
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="LOGIN_ID" class="control-label"></label>
                            <input asp-for="LOGIN_ID" class="form-control form-control-sm" />
                            <span asp-validation-for="LOGIN_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="PASSWORD" class="control-label"></label>
                            <input asp-for="PASSWORD" class="form-control form-control-sm" />
                            <span asp-validation-for="PASSWORD" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="USER_NAME" class="control-label"></label>
                            <input asp-for="USER_NAME" class="form-control form-control-sm" />
                            <span asp-validation-for="USER_NAME" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="MOBILE_NO" class="control-label"></label>
                            <input asp-for="MOBILE_NO" class="form-control form-control-sm" />
                            <span asp-validation-for="MOBILE_NO" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EMAIL_ID" class="control-label"></label>
                            <input asp-for="EMAIL_ID" class="form-control form-control-sm" />
                            <span asp-validation-for="EMAIL_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="DATE_OF_BIRTH" class="control-label"></label>
                            <input asp-for="DATE_OF_BIRTH" class="form-control form-control-sm" />
                            <span asp-validation-for="DATE_OF_BIRTH" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="PROFILE_IMAGE_FILE" class="control-label"></label>
                            <input type="file" asp-for="PROFILE_IMAGE_FILE" class="form-control form-control-sm" accept="image/x-png,image/jpeg"/>
                            <span asp-validation-for="PROFILE_IMAGE_FILE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="GENDER_ID" class="control-label"></label>
                            <select asp-for="GENDER_ID" class="form-control form-control-sm" asp-items="ViewBag.GENDER_ID"><option selected>-Select-</option></select>
                            <span asp-validation-for="GENDER_ID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="RELIGION_ID" class="control-label"></label>
                            <select asp-for="RELIGION_ID" class="form-control form-control-sm" asp-items="ViewBag.RELIGION_ID"><option selected>-Select-</option></select>
                            <span asp-validation-for="RELIGION_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BLOOD_GROUP_ID" class="control-label"></label>
                            <select asp-for="BLOOD_GROUP_ID" class="form-control form-control-sm" asp-items="ViewBag.BLOOD_GROUP_ID"><option selected>-Select-</option></select>
                            <span asp-validation-for="BLOOD_GROUP_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="MARITAIL_STATUS_ID" class="control-label"></label>
                            <select asp-for="MARITAIL_STATUS_ID" class="form-control form-control-sm" asp-items="ViewBag.MARITAIL_STATUS_ID"><option selected>-Select-</option></select>
                            <span asp-validation-for="MARITAIL_STATUS_ID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="TYPE_ID" class="control-label"></label>
                            <select asp-for="TYPE_ID" class="form-control form-control-sm" asp-items="ViewBag.TYPE_ID"><option selected>-Select-</option></select>
                            <span asp-validation-for="TYPE_ID" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="IS_ACTIVE" class="control-label"></label>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" asp-for="IS_ACTIVE" />
                                <label asp-for="IS_ACTIVE" class="custom-control-label">Active</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">Submit</button>
            <input type="button" onclick="location.reload();" class="btn btn-secondary float-left" value="Cancel" />
        </div>

    </form>
</div>

<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"] List</h3>
    </div>
    <div class="card-body table-responsive">
        <table id="myTable1" class="table table-hover">
            <thead>
                <tr>
                    <th>Login Id</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Blood</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Option</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Areas/Setup/user.js"></script>
}
